:root {
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  display: -webkit-box;
  display: flex;
  place-content: center;
  -webkit-box-align: end;
          align-items: flex-end;
  overflow: hidden;
}
.main-container {
  width: 100%;
  height: 80%;
}

.text {
  margin: 0;
}

h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 4em;
  text-align: center;
  color: skyblue;
}

h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: skyblue;
}


.typing {
  position: relative;
  margin-left: 33%;
  width: 35%;
  text-align: center;
}
.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: white;
  background: #1d1f20;
  -webkit-animation: typing 2s steps(16) forwards, caret 1s infinite;
          animation: typing 2s steps(16) forwards, caret 1s infinite;
}

.typing-2 {
  position: relative;
  margin: 0 auto;
  width: 50%;
}
.typing-2::after {
  content: "...";
  position: absolute;
  right: 0;
  width: 90%;
  color: white;
  background: #1d1f20;
  -webkit-animation: typing 5s steps(150) forwards, caret 1s infinite;
          animation: typing 5s steps(150) forwards, caret 1s infinite;
}

@-webkit-keyframes typing {
  to {
    width: 0;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}
@-webkit-keyframes caret {
  50% {
    color: transparent;
  }
}
@keyframes caret {
  50% {
    color: transparent;
  }
}
.container {
  width: 50vw;
  margin: 0 auto;
}
.container svg {
  height: 40%;
  width: 80%;
  margin: 0 auto;
  padding-left: 5em;
  padding-bottom: 1em;
  overflow: visible;
}

#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
#bongo-cat .laptop-cover,
#bongo-cat .headphone .band {
  fill: none;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: #36C9C6;
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
}
#bongo-cat .terminal-code {
  stroke-width: 5;
}
#bongo-cat .music .note,
#bongo-cat .laptop-base,
#bongo-cat .laptop-cover,
#bongo-cat .paw .pads {
  stroke: var(--blue);
}
#bongo-cat .table line,
#bongo-cat .headphone .band,
#bongo-cat .headphone .speaker path:nth-child(3) {
  stroke: var(--orange);
}
#bongo-cat .terminal-frame,
#bongo-cat .laptop-keyboard,
#bongo-cat .headphone .speaker path:nth-child(2) {
  stroke: #ED6A5A;
}
#bongo-cat .terminal-code,
#bongo-cat .headphone .speaker path:first-child {
  stroke: var(--cyan);
}

@media only screen and (max-device-width: 500px) {
  .container {
    width: 90vw;
  }
  .container svg {
    height: 40%;
    width: 100%;
    overflow: visible;
  }

  h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    color: skyblue;
    text-align: center;
  }

  .typing {
    position: relative;
    margin-left: 35%;
    width: 35%;
  }

  h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.5em;
    text-align: center;
    color: skyblue;
  }
  .typing-2 {
    position: relative;
    margin-left: 10%;
    width: 80%;
  }
  .typing-2::after {
    content: "...";
    position: absolute;
    right: 0;
    width: 100%;
    color: white;
    background: #1d1f20;
    -webkit-animation: typing 0.1s steps(10) forwards, caret 1s infinite;
            animation: typing 0.1s steps(10) forwards, caret 1s infinite;
  }
}
